body {
  font: normal 18px/1.5 'Lora', serif;
  background: white;
  background-color: #f8f9fb;
  color: #4e5056;
  padding: 50px 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}